<div class="container pt-5 pb-3">
  <div class="list-group" dragula="list-bag" [(dragulaModel)]="items">
    <div *ngFor="let item of items; index as i" class="list-group-item">
      <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text dragula-handle">@</span></div>
        <input
          type="text"
          class="form-control"
          placeholder="Title"
          [value]="item.title"
          (keyup)="item.title = $event.target.value; updateItems()"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Url"
          [value]="item.url"
          (keyup)="item.url = $event.target.value; updateItems()"
        />
        <input
          type="text"
          class="form-control"
          placeholder="ImageUrl"
          [value]="item.imageUrl"
          (keyup)="item.imageUrl = $event.target.value; updateItems()"
        />

        <div class="input-group-append">
          <span class="btn-size-sm input-group-text item-delete" (click)="removeItem(i)">🞨</span>
        </div>
      </div>
    </div>
  </div>
</div>
