.navbar-dark {
  .navbar-text {
    color: #fff;
  }
}

.navbar-light {
  .navbar-text {
    color: #383838;
  }
}

.btn-outline-light{
  &:hover {
    color: #343a40;
  }
}

.app-bg-dark {
  background: #333;
}

.app-bg-light {
  background: #fff;
}
