<nav [ngClass]="getRoute() === '/edit' ? 'navbar-light' : 'navbar-dark'" class="navbar justify-content-end fixed-top">
  <div class="btn-group" role="group">
    <button *ngIf="getRoute() === '/edit'" class="btn btn-sm align-middle btn-outline-dark" type="button" (click)='openImportModal();'>Import</button>
    <button *ngIf="getRoute() === '/edit'" class="btn btn-sm align-middle btn-outline-dark" type="button">Export</button>
    <button [ngClass]="getRoute() === '/edit' ? 'btn-outline-dark' : 'btn-outline-light'" class="btn btn-sm align-middle" type="button" [routerLink]="getRoute() === '/' ? '/edit' : '/'">Edit</button>
  </div>
</nav>
